<div class="product" style="padding-top: 125px;">
     <div class="row">
        <div class="col-sm-4">
          <div class="thumbnail">
            <div class="caption text-center">
              <div class="position-relative">
                <img src="https://az818438.vo.msecnd.net/icons/slack.png" style="width:72px;height:72px;" [routerLink]="['product', productId1]"/>
              </div>
              <h4 id="thumbnail-label"><a [routerLink]="['product', productId1]">Product Name</a></h4>
               <div class="thumbnail-description smaller">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
            </div>
           <div style="text-align: center;"> <a [routerLink]="['./seller', sellerId]">Seller Info</a></div>
          </div>
      </div>
 
      
    </div>
    <router-outlet></router-outlet>                                   
 </div>




